*{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 20px;    
}

main{
    display: flex;
    flex-direction: column;
    padding: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

button{
    margin-top: 5vh;
}

#list{
    margin-top: 10vh;
}

ul{
    margin-top: 2vh;
}